body {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  background-color: #bd3d0a;
  overflow: auto;
  display: flex;
  justify-content: center;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(188, 236, 15);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #d3e71a;
}

/* Current/active navbar link */
.active {
  background-color: #db7719;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
