body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bd4d19;
  display: flex;
  justify-content: center;
}

ul li {
  float: left;
  padding: 0;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 26px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #b3c421;
}
ul li a:active{
    background-color: aquamarine;
}